/* map Corne's extra keys */
#define X_LT &kp TAB
#define X_LM &mt LCTL ESC
#define X_LB &kp LSHIFT
#define X_LH &kp LGUI

#define X_RT &kp BSLH
#define X_RM &kp SQT
#define X_RB MAGIC_SHIFT
#define X_RH &kp RALT

#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH) \
    ZMK_LAYER(                                               \
        name,                                                \
        X_LT LT RT X_RT                                      \
        X_LM LM RM X_RM                                      \
        X_LB LB RB X_RB                                      \
        X_LH LH RH &smart_mouse                              \
    )

#include "dt-bindings/zmk/ext_power.h"
#include "dt-bindings/zmk/rgb.h"

&spi3 {
  led_strip: ws2812@0 {
    /* WS2812 */
    chain-length = <27>; /* There are per-key RGB, but the first 6 are underglow */
  };
};

#define CONFIG_WIRELESS

#include "zmk-helpers/key-labels/42.h"
#include "base.keymap"

/{ chosen { zmk,physical-layout = &foostan_corne_6col_layout; }; };
