#define CONFIG_WIRELESS
#include "zmk-helpers/key-labels/42.h"
/* map Corne's extra keys */
#define X_LT &kp TAB
#define X_LM &kp ESC
#define X_LB &kp LSHIFT
#define X_LH &kp LGUI

#define X_RT &kp BSLH
#define X_RM &kp SQT
#define X_RB &kp RSHFT
#define X_RH &kp RALT
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH) \
    ZMK_LAYER(                                               \
        name,                                                \
        X_LT LT RT X_RT                                      \
        X_LM LM RM X_RM                                      \
        X_LB LB RB X_RB                                      \
        X_LH LH RH &smart_mouse                              \
    )

#include "base.keymap"

/{ chosen { zmk,physical-layout = &foostan_corne_6col_layout; }; };
